[build]
# The index HTML file to drive the bundling process.
target = "index.html"
# Build in release mode.
release = true
# The output dir for all final assets.
dist = "dist"
# The public URL from which assets are to be served.
public_url = "/"
# Whether to include hash values in the output file names.
filehash = false

# [watch]
# # Paths to watch. The `build.target`'s parent folder is watched by default.
# watch = []
# # Paths to ignore.
# ignore = []
[serve]
# The address to serve on.
address = "127.0.0.1"
# The port to serve on.
port = 3000
# Open a browser tab once the initial build is complete.
open = true
# Disable auto-reload of the web app.
no_autoreload = false
release = false

[clean]
# The output dir for all final assets.
dist = "dist"
# Optionally perform a cargo clean.
cargo = false

# [tools]
# # Default dart-sass version to download.
# sass = "1.54.9"
# # Default wasm-bindgen version to download.
# wasm_bindgen = "0.2.83"
# # Default wasm-opt version to download.
# wasm_opt = "version_110"
[[hooks]]
stage = "pre_build"
command = "tailwindcss"
command_arguments = ["-i", "input.css", "-o", "tailwind.css"]
# [[hooks]]
# stage = "build"
# command = "tailwindcss"
# TRUNK_PROFILE = "release"
# command_arguments = ["-i", "input.css", "-o", "tailwind.css", "--minify"]
